{% extends "layout.html" %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
<style>
img {
  width: 100%;
}
</style>
</head>
<body>

<img src="../static/pic.jpg" alt="HTML5 Icon" width="500 " height="500">
<img>

</body>
</html>
<html>
<head>
<style>
.myDiv {
  border: 5px outset rgb(5, 5, 0);
  background-color: rgb(161, 140, 22);
  text-align: center;
}
</style>
</head>
<body>

<div class="myDiv">
  <h2>Welcome the Cheap Beer Student app</h2>
  <p>Are you in need of the cheapest drink? <br>
    Then check out the drop down menu "Bars Sorted" <br>
    You can also just take a look at our <a href="https://www.facebook.com/Cafeen1993">favorite bar</a>.
  </p>
</div>

</body>
</html>

{% endblock content %}
